.container-password main {
    background-color: var(--primary-700);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5em
}

.container-password main h3 {
    color: var(--white);
}

.container-password main label {
    color: var(--white);
}

.container-password main input {
    padding: .5em;
    border-radius: 10px;
    border: 1px solid transparent;
    margin-bottom: 1.5em;
}

.container-password main input:focus {
    border: 3px solid var(--secondary-700);
    outline: none;
}

.container-password main button {
    background-color: #27AAE1;
    color: #fff;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #27AAE1;
    padding: 10px 20px;
    border-radius: .5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.container-password main button:hover{
    background-color: #0c87f3;
    color:var(--black);
    border-color:#3117f6;
}

.container-password .new-password {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.container-password .btns-new-password {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.container-password .btns-new-password .btn-back {
    background-color: red;
    color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.container-password .btns-new-password .btn-back:hover {
    background-color: rgb(189, 59, 59);
    color: var(--black);
}