:root {
    --primary-700: #3B4B59;
    --secondary-500: goldenrod;
    --secondary-700: #cd9200;
    --white: #FFFFFF;
    --black: #333;
    --font-heading: 'Roboto_700Bold';
    --font-body: 'Roboto_400Regular';
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;
  }